################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test_work/v15
/bin/test_work.pdb
/bin/pballd.pdb
/bin/pballd.ilk
/build
/.vs/arcade_platformball/v15
